#header__title {
  font-weight: 700;
  vertical-align: middle;
}

header a:link,
header a:visited,
header a:active {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: white;
}
.navbar-right {
  font-weight: 500;
}

#header__title img {
  line-height: 1.5;
  margin-right: 1vh;
  width: 1.5rem;
}
